# PORT=5000
# MONGODB_URI=mongodb+srv://Tanmayi0412:Tanu%402659@cluster0.hnnw8xh.mongodb.net/smart-parking?retryWrites=true&w=majority
# JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9eyJpc3MiOiJzbWFydC1wYXJraW5nLWF1dGgiLCJrZXkiOiI0ZjY1YTY5YS1iMzJkLTRhMDItOWQzMy1lYzk5MjNmZjRkOTIifQ
# JWT_EXPIRE=7d

# # Email Configuration
# EMAIL_SERVICE=gmail
# EMAIL_USER=231fa18293@gmail.com
# EMAIL_PASSWORD=jadx gyug rnsf oslk

# # Client URL
# CLIENT_URL=http://localhost:3000
PORT=5000
MONGODB_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=7d
EMAIL_SERVICE=gmail
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
CLIENT_URL=http://localhost:3000